.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
  
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.buttonVA {
   background-color:#E67F07;
   color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
   
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.buttonVA:hover {
    background-color: #CD7107; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.rowbusq{
  background-color: rgba(128,128,128, 0.2);
  min-height: 95px; 
  padding-top:2%; 
  margin-left:5%; 
  margin-right:5%;
   z-index: 10;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}









